// SPDX-License-Identifier: GPL-2.0+
//
// Copyright 2013 Freescale Semiconductor, Inc.

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/sound/fsl-imx-audmux.h>
#include <arm/nxp/imx/imx25.dtsi>

/ {
	model = "Behringer X32 - OpenX32";
	compatible = "fsl,imx25-openx32", "fsl,imx25";

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x04000000>;
	};

	sound {
		compatible = "simple-audio-card";
		status = "okay";
//		ssi-controller = <&ssi1>;
		simple-audio-card,name = "imx25_soundcard";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&sound_master>;
		simple-audio-card,frame-master = <&sound_master>;
		
//		mux-int-port = <1>;
//		mux-ext-port = <6>;

		simple-audio-card,routing =
			"LINE_IN", "Audio input",
			"Audio output", "LINE_OUT";

		sound_master: simple-audio-card,cpu {
			sound-dai = <&ssi1>;
		};

		simple-audio-card,codec {
			sound-dai = <&dummy_codec>;
		};

		dummy_codec: codec {
		    compatible = "linux,snd-soc-dummy";
		    #sound-dai-cells = <0>;
		    status = "okay";
		};
	};

	wvga: display {
		model = "Innolux-AT070TN";
		bits-per-pixel = <32>;
		bus-width = <18>;
		fsl,pcr = <0xFC228080>;
		display-timings {
			native-mode = <&wvga_timings>;
			wvga_timings: timing0 {
				hactive = <800>;
				hfront-porch = <210>;
				hback-porch = <52>;
				hsync-len = <1>;
				vactive = <480>;
				vfront-porch = <22>;
				vback-porch = <22>;
				vsync-len = <1>;
				clock-frequency = <40000000>;
				hsync-active = <0>; // asserted when LOW
				vsync-active = <0>; // asserted when LOW
				de-active = <1>; // asserted when HIGH
				pixelclk-active = <1>; // 1 = falling edge
			};
		};
	};

        leds {
			compatible = "gpio-leds";
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_gpioleds>;

			mculed {
				label = "mculed";
				gpios = <&gpio4 24 GPIO_ACTIVE_HIGH>;
				linux,default-trigger = "heartbeat";
			};

			lamp {
				label = "lamp";
				gpios = <&gpio1 26 GPIO_ACTIVE_HIGH>;
				default-state = "on";
			};

			reset_fpga {
				label = "reset_fpga";
				gpios = <&gpio1 30 GPIO_ACTIVE_LOW>;
				default-state = "off";
			};

			reset_dsp {
				label = "reset_dsp";
				gpios = <&gpio2 22 GPIO_ACTIVE_LOW>;
				default-state = "off";
			};

			reset_surface {
				label = "reset_surface";
				gpios = <&gpio4 28 GPIO_ACTIVE_LOW>;
				default-state = "off";
			};

			audio_mute {
				label = "audio_mute";
				gpios = <&gpio1 3 GPIO_ACTIVE_LOW>;
				default-state = "off";
			};
        };
};

&esdhc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_esdhc1>;
	bus-width = <4>;
	max-frequency = <50000000>;
    non-removable;
	status = "okay";
};

&iomuxc {
	imx25-pdk {
		pinctrl_esdhc1: esdhc1grp {
			fsl,pins = <
				// values from DCP-Loader
				MX25_PAD_SD1_CMD__ESDHC1_CMD		0x000000D1
				MX25_PAD_SD1_CLK__ESDHC1_CLK		0x000000D1
				MX25_PAD_SD1_DATA0__ESDHC1_DAT0		0x000000D1
				MX25_PAD_SD1_DATA1__ESDHC1_DAT1		0x000000D1
				MX25_PAD_SD1_DATA2__ESDHC1_DAT2		0x000000D1
				MX25_PAD_SD1_DATA3__ESDHC1_DAT3		0x000000D10
			>;
		};

		pinctrl_i2c1: i2c1grp {
			fsl,pins = <
				MX25_PAD_I2C1_CLK__I2C1_CLK		0x80000000
				MX25_PAD_I2C1_DAT__I2C1_DAT		0x80000000
			>;
		};

		pinctrl_lcd: lcdgrp {
			fsl,pins = <
				// values from DCP-Loader
				MX25_PAD_LD0__LD0		0x0	// Slow Slew Rate, Standard drive strength, CMOS, 3.3V
				MX25_PAD_LD1__LD1		0x0
				MX25_PAD_LD2__LD2		0x0
				MX25_PAD_LD3__LD3		0x0
				MX25_PAD_LD4__LD4		0x0
				MX25_PAD_LD5__LD5		0x0
				MX25_PAD_LD6__LD6		0x0
				MX25_PAD_LD7__LD7		0x0
				MX25_PAD_LD8__LD8		0x0
				MX25_PAD_LD9__LD9		0x0
				MX25_PAD_LD10__LD10		0x0
				MX25_PAD_LD11__LD11		0x0
				MX25_PAD_LD12__LD12		0x0
				MX25_PAD_LD13__LD13		0x0
				MX25_PAD_LD14__LD14		0x0
				MX25_PAD_LD15__LD15		0x0
				MX25_PAD_D15__LD16		0x0
				MX25_PAD_D14__LD17		0x0
				MX25_PAD_HSYNC__HSYNC		0x0
				MX25_PAD_VSYNC__VSYNC		0x0
				MX25_PAD_LSCLK__LSCLK		0x0
				MX25_PAD_OE_ACD__OE_ACD		0x0
				MX25_PAD_CONTRAST__CONTRAST	0x00
			>;
		};

pinctrl_uart1: uart1grp {
			fsl,pins = <
				// values from DCP-Loader
				MX25_PAD_UART1_TXD__UART1_TXD	0x0
				MX25_PAD_UART1_RXD__UART1_RXD	0xc0 // 100 KOhm pull down
			>;
		};

		pinctrl_uart2: uart2grp {
			fsl,pins = <
				// values from DCP-Loader
				MX25_PAD_UART2_TXD__UART2_TXD   0x0
				MX25_PAD_UART2_RXD__UART2_RXD   0xc0 // 100 KOhm pull down
			>;
		};
		
		pinctrl_uart3: uart3grp {
			fsl,pins = <
				MX25_PAD_KPP_ROW1__UART3_TXD    0x0
				MX25_PAD_KPP_ROW0__UART3_RXD    0xc0 // 100 KOhm pull down
			>;
		};
		
		pinctrl_uart4: uart4grp {
			fsl,pins = <
				MX25_PAD_KPP_COL1__UART4_TXD    0x0
				MX25_PAD_KPP_COL0__UART4_RXD    0xc0 // 100 KOhm pull down
			>;
		};
		
		pinctrl_uart5: uart5grp {
			fsl,pins = <
				MX25_PAD_ECB__UART5_TXD		0x0
				MX25_PAD_LBA__UART5_RXD		0xc0 // 100 KOhm pull down
			>;
		};
		
		pinctrl_usbh1_pwr: usbh1_pwr_pins {
			fsl,pins = <

				// values from DCP-Loader
				MX25_PAD_D9__GPIO_4_11		0x80 // Keeper enabled
				MX25_PAD_D8__GPIO_4_12		0xE0 // Pull up 100KOhm

			>;
		};

		pinctrl_gpioleds: gpioledgrp {
			fsl,pins = <
				MX25_PAD_UART1_RTS__GPIO_4_24	0x0		// MCU_LED
				MX25_PAD_PWM__GPIO_1_26		0x0			// Desk-LAMP
				MX25_PAD_CSI_D5__GPIO_1_30	0x0			// FPGA nPROG
				//MX25_PAD_GPIO_C__GPIO_1_2	0x0C		// FPGA DONE
				MX25_PAD_CSPI1_RDY__GPIO_2_22	0x0     // DSP nRESET
				MX25_PAD_UART2_RTS__GPIO_4_28	0x0		// Surface nRESET
				MX25_PAD_GPIO_D__GPIO_1_3	0x0			// MUTEOFF
			>;
		};

		pinctrl_gpio1: gpio1grp {
			fsl,pins = <
				//MX25_PAD_CSI_D5__GPIO_1_30	0x0	// FPGA nPROG
				MX25_PAD_GPIO_C__GPIO_1_2	0xc0		// FPGA DONE
			>;
		};
	};
};

&lcdc {
	display = <&wvga>;
	fsl,lpccr = <0x00a903ff>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lcd>;
	status = "okay";
};



&tsc {
	status = "okay";
};

&tscadc {
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart2 {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_uart2>;
        status = "okay";
};

&uart3 {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_uart3>;
        status = "okay";
};

&uart4 {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_uart4>;
        status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	status = "okay";
};

&gpio1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio1>;
	status = "okay";
};

&usbhost1 {
	power-gpios = <&gpio4 11 GPIO_ACTIVE_HIGH>;
	over-current-gpios = <&gpio4 12 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbh1_pwr>;
	status = "okay";
};

&usbotg {
	external-vbus-divider;
	status = "okay";
};